.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContent {
  margin: auto;
  max-width: calc(var(--bulma-size-normal) * 30);
}
