@import '../../bulmaVariables';

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContent {
  margin: $size-normal;
  max-width: $size-normal *30;
}
