.container {
  min-width: 350px;
  display: flex;
  flex-direction: column;

  /* Hack Bulma: Remove Block Spacing between Columns. */
  margin-bottom: 0px !important;
}

.cardContent {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--bulma-size-small);
}
